**/.idea
**/*.log
**/*.pyc
**/__pycache__
**/migrations/*.py
!**/migrations/__init__.py
**/.venv
**/script
**/db.sqlite3

**/build
**/dist


**/*.bak
**/*.dat
**/*.dir

**/*.pem

**/.DS_Store
**/node_modules


# local env files
.env.local
.env.*.local

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Editor directories and files
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
